/Category$__clinit__closure1.class
/Category.class
/CategoryController.class
/CategoryControllerTests.class
/CategoryTests.class
/Globals.class
/Project$__clinit__closure1.class
/Project$__clinit__closure2.class
/Project.class
/ProjectController$_api_list_closure1.class
/ProjectController$_api_list_closure1_closure2.class
/ProjectController$_api_list_closure1_closure3.class
/ProjectController.class
/ProjectControllerTests.class
/ProjectTests.class
/Project$__clinit__closure3.class
