/CompassXmlConfigurationSearchableCompassConfigurator.class
/CompositeSearchableCompassConfigurator.class
/DefaultGrailsDomainClassMappingSearchableCompassConfigurator.class
/EnvironmentSearchableCompassConfigurator.class
/InferredCompassSettingCompassConfigurator.class
/SearchableCompassConfigurator.class
/SearchableCompassConfiguratorFactory.class
/SessionFactoryLookup.class
